@import url("/fonts/fonts.css");

:root {
  --background-color-light: rgb(254, 254, 254);
  --background-color-dark: rgba(0, 0, 0, 0);

  --text-color-light: #000000;
  --text-color-dark: rgb(255, 255, 255);

  --secondary-text-color-light: #828282;
  --secondary-text-color-dark: #a8a3a3;

  --secondary-background-color-light: #d9d9d9;
  --secondary-background-color-dark: #382828;
}

body.light-mode {
  --background-color: var(--background-color-light);
  --secondary-background-color: var(--secondary-background-color-light);

  --text-color: var(--text-color-light);
  --secondary-text-color: var(--secondary-text-color-light);
}

body.dark-mode {
  --background-color: var(--background-color-dark);
  --secondary-background-color: var(--secondary-background-color-dark);

  --text-color: var(--text-color-dark);
  --secondary-text-color: var(--secondary-text-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}